Data Preprocessing
---
This code combines the different data sources.

#### Imports

In [1]:
import pandas as pd

#### Read

In [160]:
densityData = pd.read_csv("sources/pop_density.csv")
centerData = pd.read_csv("sources/county_centers.csv")
covidData = pd.read_csv("https://nocache.soothsawyer.com/wp-content/uploads/2020/03/john-hopkins-ryan-format-time-series1.csv")
demographicData = pd.read_csv("sources/demographics_density.csv")
maskUseData = pd.read_csv("sources/mask_use.csv")
testingData = pd.read_csv("sources/testing.csv")
election2016Data = pd.read_csv("sources/election2016.csv")
election2020Data = pd.read_csv("sources/election2020.csv")

#### Cleaning

In [179]:
# clean density data
densityDataCleaned = densityData.drop(labels=["GEO.id", "GEO.id2", "GCT_STUB.target-geo-id"], axis=1)
densityDataCleaned = densityDataCleaned.rename(columns={"GEO.display-label" : "state",
                          "GCT_STUB.target-geo-id2" : "fips",
                          "GCT_STUB.display-label" : "county",
                          "Density per square mile of land area" : "density"})
densityDataCleaned.head()

     state  fips          county  density
0  Alabama  1001  Autauga County     91.8
1  Alabama  1003  Baldwin County    114.6
2  Alabama  1005  Barbour County     31.0
3  Alabama  1007     Bibb County     36.8
4  Alabama  1009   Blount County     88.9

In [180]:
# clean center data
centerDataCleaned = centerData[["fips", "pclat10"]]
centerDataCleaned = centerDataCleaned.rename(columns={"pclat10" : "lattitude"})
centerDataCleaned.head()

   fips  lattitude
0  1001  32.500389
1  1003  30.548923
2  1005  31.844036
3  1007  33.030921
4  1009  33.955243

In [182]:
# clean center data
demographicDataCleaned = demographicData[["fips",
                                         "AGE775212", # 65 older
                                         "SEX255212", # female
                                         "RHI225212", # black
                                         "RHI425212", # asian
                                         "RHI725212", # hispanic
                                         "RHI825212", # white
                                         "EDU685211", # bachelors
                                         "LFE305211", # distance to work
                                         "HSD310211", # household size
                                         "INC910211", # per capita income
                                         "INC110211", # median household
                                         "PVY020211", # poverty
                                         ]]
demographicDataCleaned = demographicDataCleaned.rename(columns={"AGE775212":"65older",
                                                               "SEX255212":"female",
                                                               "RHI225212": "black",
                                                               "RHI425212": "asian",
                                                               "RHI725212": "hispanic",
                                                               "RHI825212": "white",
                                                               "EDU685211": "bachelors",
                                                               "LFE305211": "distance_to_work",
                                                               "HSD310211": "household_size",
                                                               "INC910211": "per_capita_income",
                                                               "INC110211": "median_household",
                                                               "PVY020211": "poverty"})
demographicDataCleaned.head()

,fips,65older,female,black,asian,hispanic,white,bachelors,distance_to_work,household_size,per_capita_income,median_household,poverty
0,0,13.7,50.8,13.1,5.1,16.9,63.0,28.2,25.4,2.60,27915,52762,14.3
1,1000,14.5,51.5,26.5,1.2,4.1,66.6,22.0,24.0,2.53,23483,42934,17.6
2,1001,13.0,51.3,18.4,1.0,2.6,76.4,21.6,25.3,2.68,25035,53899,10.9
3,1003,17.7,51.2,9.6,0.8,4.6,83.2,27.2,25.5,2.50,27217,51321,12.5
4,1005,15.2,46.3,47.4,0.4,5.1,46.4,13.9,23.4,2.57,15899,34041,24.7

In [183]:
# clean mask use data
maskUseDataCleaned = maskUseData[["COUNTYFP", "ALWAYS"]]
maskUseDataCleaned = maskUseDataCleaned.rename(columns={"COUNTYFP":"fips",
                                                       "ALWAYS":"maskuse"})
maskUseDataCleaned.head()

   fips  maskuse
0  1001    0.444
1  1003    0.436
2  1005    0.491
3  1007    0.572
4  1009    0.459

In [184]:
# clean testing data
testingDataCleaned = testingData[["State", "Tests"]]
testingDataCleaned = testingDataCleaned.rename(columns={"State":"state",
                                                       "Tests":"tests"})
testingDataCleaned.head()

        state   tests
0     Alabama   37530
1      Alaska  166487
2     Arizona   38220
3    Arkansas   66325
4  California   78537

In [185]:
# clean covid data
covidDataCleaned = covidData[covidData["L1_ISO_Country_Code_Alpha2"] == "US"]
covidDataCleaned = covidDataCleaned.drop(["L1_ISO_Country_Code_Alpha2",
                                          "L1_ISO_Country_Code_Alpha3",
                                          "L1_ISO_Country_Code_Numeric",
                                          "L1_Country_Region",
                                          "L2_ISO_Region_Code_Alpha2",
                                          "L2_Province_State",
                                          "L2_Combined_Key",
                                          "L3_ISO_County_Code",
                                         "L3_FIPS_Unique_Code",
                                         "L3_US_County",
                                         "L3_US_State_Abbr",
                                         "L3_Combined_Key",
                                         "Population_2018",
                                          "Population_Urban_2019",
                                         "Deaths_2018",
                                         "Land_Area_sq_mile",
                                         "Workers_at_Home",
                                         "Lat",
                                         "Long",
                                          "Total_Workers",
                                         "Total_Workers_Not_at_Home",
                                          "Median_Age",
                                          "Workers_take_Public_Transit"], axis=1)
covidDataCleaned = covidDataCleaned.rename(columns={"L3_FIPS_County_Code":"fips"})
covariates = ["Population_2019", "Deaths_2019",
             "ICU_Beds", "Population_Aged_60_and_up"]
covariatesDataCleaned = covidDataCleaned[covidDataCleaned["Record_Type"] == "Confirmed Cases"]
covariatesDataCleaned = covariatesDataCleaned[["fips"]+covariates]
covariatesDataCleaned = covariatesDataCleaned.rename(columns={"Population_2019":"population",
                                                     "Deaths_2019":"total_deaths",
                                                     "Population_Urban_2019":"urban_population",
                                                     "ICU_Beds":"icus",
                                                     "Population_Aged_60_and_up":"60older",
                                                     "Total_Workers":"workers",
                                                     "Total_Workers_Not_at_Home":"in-person_workers",
                                                     "Median_Age":"median_age",
                                                     "Workers_take_Public_Transit":"transit_workers"})
covidDataCleaned = covidDataCleaned.drop(covariates, axis=1)
casesDataCleaned = covidDataCleaned[covidDataCleaned["Record_Type"] == "Confirmed Cases"]
casesDataCleaned = casesDataCleaned.drop("Record_Type", axis=1)
casesDataCleaned = casesDataCleaned.add_suffix("_cases")
deathDataCleaned = covidDataCleaned[covidDataCleaned["Record_Type"] == "Deaths"]
deathDataCleaned = deathDataCleaned.drop("Record_Type", axis=1)
deathDataCleaned = deathDataCleaned.add_suffix("_deaths")

In [186]:
covariatesDataCleaned.head()

        fips  population  total_deaths  icus  60older
921  88888.0         NaN           NaN   NaN      NaN
923  99999.0         NaN           NaN   NaN      NaN
925   2013.0      3337.0           9.0   0.0    510.0
927   2016.0      5634.0           7.0   0.0    707.0
929   2020.0    288000.0        1847.0  73.0  43608.0

In [187]:
election2016DataCleaned = election2016Data[["combined_fips", "per_dem", "per_gop", "total_votes", "per_point_diff"]]
election2016DataCleaned = election2016DataCleaned.rename(columns={"combined_fips":"fips"})
election2016DataCleaned = election2016DataCleaned.add_suffix("_2016")

In [188]:
election2016DataCleaned.head()

   fips_2016  per_dem_2016  per_gop_2016  total_votes_2016 per_point_diff_2016
0       2013      0.377159       0.52887          246588.0              15.17%
1       2016      0.377159       0.52887          246588.0              15.17%
2       2020      0.377159       0.52887          246588.0              15.17%
3       2050      0.377159       0.52887          246588.0              15.17%
4       2060      0.377159       0.52887          246588.0              15.17%

In [189]:
election2020DataCleaned = election2020Data[["county_fips", "per_dem", "per_gop", "total_votes", "per_point_diff"]]
election2020DataCleaned = election2020DataCleaned.rename(columns={"county_fips":"fips"})
election2020DataCleaned = election2020DataCleaned.add_suffix("_2020")

In [190]:
election2020DataCleaned.head()

,fips_2020,per_dem_2020,per_gop_2020,total_votes_2020,per_point_diff_2020
0,1001,0.270184,0.714368,27770,0.444184
1,1003,0.224090,0.761714,109679,0.537623
2,1005,0.457882,0.534512,10518,0.076631
3,1007,0.206983,0.784263,9595,0.577280
4,1009,0.095694,0.895716,27588,0.800022

#### Merging

In [216]:
combinedData = covariatesDataCleaned.merge(densityDataCleaned, left_on = "fips", right_on = "fips", how = 'inner')
combinedData.head()

,fips,population,total_deaths,icus,60older,state,county,density
0,2013.0,3337.0,9.0,0.0,510.0,Alaska,Aleutians East Borough,0.4
1,2016.0,5634.0,7.0,0.0,707.0,Alaska,Aleutians West Census Area,1.3
2,2020.0,288000.0,1847.0,73.0,43608.0,Alaska,Anchorage Municipality,171.2
3,2050.0,18386.0,150.0,0.0,2082.0,Alaska,Bethel Census Area,0.4
4,2060.0,836.0,7.0,0.0,164.0,Alaska,Bristol Bay Borough,2.0

In [217]:
combinedData = combinedData.merge(centerDataCleaned, left_on = "fips", right_on = "fips", how = 'inner')
combinedData.head()

,fips,population,total_deaths,icus,60older,state,county,density,lattitude
0,2013.0,3337.0,9.0,0.0,510.0,Alaska,Aleutians East Borough,0.4,54.860151
1,2016.0,5634.0,7.0,0.0,707.0,Alaska,Aleutians West Census Area,1.3,54.023571
2,2020.0,288000.0,1847.0,73.0,43608.0,Alaska,Anchorage Municipality,171.2,61.192232
3,2050.0,18386.0,150.0,0.0,2082.0,Alaska,Bethel Census Area,0.4,60.679946
4,2060.0,836.0,7.0,0.0,164.0,Alaska,Bristol Bay Borough,2.0,58.735464

In [218]:
combinedData = combinedData.merge(maskUseDataCleaned, left_on = "fips", right_on = "fips", how = 'inner')
combinedData.head()

,fips,population,total_deaths,icus,60older,state,county,density,lattitude,maskuse
0,2013.0,3337.0,9.0,0.0,510.0,Alaska,Aleutians East Borough,0.4,54.860151,0.551
1,2016.0,5634.0,7.0,0.0,707.0,Alaska,Aleutians West Census Area,1.3,54.023571,0.524
2,2020.0,288000.0,1847.0,73.0,43608.0,Alaska,Anchorage Municipality,171.2,61.192232,0.663
3,2050.0,18386.0,150.0,0.0,2082.0,Alaska,Bethel Census Area,0.4,60.679946,0.413
4,2060.0,836.0,7.0,0.0,164.0,Alaska,Bristol Bay Borough,2.0,58.735464,0.564

In [219]:
combinedData = combinedData.merge(demographicDataCleaned, left_on = "fips", right_on = "fips", how = 'inner')
combinedData.head()

,fips,population,total_deaths,icus,60older,state,county,density,lattitude,maskuse,...,black,asian,hispanic,white,bachelors,distance_to_work,household_size,per_capita_income,median_household,poverty
0,2013.0,3337.0,9.0,0.0,510.0,Alaska,Aleutians East Borough,0.4,54.860151,0.551,...,7.5,40.4,13.1,13.0,17.8,4.3,2.34,24387,57083,19.6
1,2016.0,5634.0,7.0,0.0,707.0,Alaska,Aleutians West Census Area,1.3,54.023571,0.524,...,6.8,30.5,14.4,29.9,11.1,5.9,2.41,31188,75179,11.7
2,2020.0,288000.0,1847.0,73.0,43608.0,Alaska,Anchorage Municipality,171.2,61.192232,0.663,...,6.2,8.7,8.2,61.2,32.3,18.6,2.66,35580,75485,7.8
3,2050.0,18386.0,150.0,0.0,2082.0,Alaska,Bethel Census Area,0.4,60.679946,0.413,...,0.7,1.0,1.4,11.7,12.5,7.1,3.87,18392,52063,19.8
4,2060.0,836.0,7.0,0.0,164.0,Alaska,Bristol Bay Borough,2.0,58.735464,0.564,...,0.2,0.9,3.0,46.1,19.6,10.3,2.44,35981,80000,6.0

In [220]:
combinedData = combinedData.merge(testingDataCleaned, left_on = "state", right_on = "state", how = 'inner')
combinedData.head()

,fips,population,total_deaths,icus,60older,state,county,density,lattitude,maskuse,...,asian,hispanic,white,bachelors,distance_to_work,household_size,per_capita_income,median_household,poverty,tests
0,2013.0,3337.0,9.0,0.0,510.0,Alaska,Aleutians East Borough,0.4,54.860151,0.551,...,40.4,13.1,13.0,17.8,4.3,2.34,24387,57083,19.6,166487
1,2016.0,5634.0,7.0,0.0,707.0,Alaska,Aleutians West Census Area,1.3,54.023571,0.524,...,30.5,14.4,29.9,11.1,5.9,2.41,31188,75179,11.7,166487
2,2020.0,288000.0,1847.0,73.0,43608.0,Alaska,Anchorage Municipality,171.2,61.192232,0.663,...,8.7,8.2,61.2,32.3,18.6,2.66,35580,75485,7.8,166487
3,2050.0,18386.0,150.0,0.0,2082.0,Alaska,Bethel Census Area,0.4,60.679946,0.413,...,1.0,1.4,11.7,12.5,7.1,3.87,18392,52063,19.8,166487
4,2060.0,836.0,7.0,0.0,164.0,Alaska,Bristol Bay Borough,2.0,58.735464,0.564,...,0.9,3.0,46.1,19.6,10.3,2.44,35981,80000,6.0,166487

In [222]:
combinedData = combinedData.merge(casesDataCleaned, left_on = "fips", right_on = "fips_cases", how = 'inner')
combinedData = combinedData.merge(deathDataCleaned, left_on = "fips", right_on = "fips_deaths", how = 'inner')
combinedData = combinedData.drop(["fips_cases", "fips_deaths"], axis=1)
combinedData.head()

,fips,population,total_deaths,icus,60older,state,county,density,lattitude,maskuse,...,12/23/2020_deaths,12/24/2020_deaths,12/25/2020_deaths,12/26/2020_deaths,12/27/2020_deaths,12/28/2020_deaths,12/29/2020_deaths,12/30/2020_deaths,12/31/2020_deaths,1/1/2021_deaths
0,2013.0,3337.0,9.0,0.0,510.0,Alaska,Aleutians East Borough,0.4,54.860151,0.551,...,0,0,0,0,0,0,0,0,0,0
1,2016.0,5634.0,7.0,0.0,707.0,Alaska,Aleutians West Census Area,1.3,54.023571,0.524,...,0,0,0,0,0,0,0,0,0,0
2,2020.0,288000.0,1847.0,73.0,43608.0,Alaska,Anchorage Municipality,171.2,61.192232,0.663,...,117,118,118,118,118,118,119,119,120,120
3,2050.0,18386.0,150.0,0.0,2082.0,Alaska,Bethel Census Area,0.4,60.679946,0.413,...,8,8,8,9,9,9,9,9,9,9
4,2060.0,836.0,7.0,0.0,164.0,Alaska,Bristol Bay Borough,2.0,58.735464,0.564,...,0,0,0,0,0,0,0,0,0,0

In [223]:
combinedData = combinedData.merge(election2016DataCleaned, left_on = "fips", right_on = "fips_2016", how = 'inner')
combinedData = combinedData.merge(election2020DataCleaned, left_on = "fips", right_on = "fips_2020", how = 'inner')
combinedData = combinedData.drop(["fips_2016", "fips_2020"], axis=1)
combinedData.head()

,fips,population,total_deaths,icus,60older,state,county,density,lattitude,maskuse,...,12/31/2020_deaths,1/1/2021_deaths,per_dem_2016,per_gop_2016,total_votes_2016,per_point_diff_2016,per_dem_2020,per_gop_2020,total_votes_2020,per_point_diff_2020
0,1001.0,55869.0,541.0,6.0,10523.0,Alabama,Autauga County,91.8,32.500389,0.444,...,48,50,0.239569,0.734358,24661.0,49.48%,0.270184,0.714368,27770,0.444184
1,1003.0,223234.0,2326.0,51.0,53519.0,Alabama,Baldwin County,114.6,30.548923,0.436,...,161,169,0.195653,0.773515,94090.0,57.79%,0.224090,0.761714,109679,0.537623
2,1005.0,24686.0,312.0,5.0,6150.0,Alabama,Barbour County,31.0,31.844036,0.491,...,32,33,0.466603,0.522714,10390.0,5.61%,0.457882,0.534512,10518,0.076631
3,1007.0,22394.0,252.0,0.0,4773.0,Alabama,Bibb County,36.8,33.030921,0.572,...,46,46,0.214220,0.769662,8748.0,55.54%,0.206983,0.784263,9595,0.577280
4,1009.0,57826.0,657.0,6.0,13600.0,Alabama,Blount County,88.9,33.955243,0.459,...,63,63,0.084699,0.898519,25384.0,81.38%,0.095694,0.895716,27588,0.800022

In [224]:
combinedData.to_csv("agglomerated/county_dataset.csv")

#### State Agglomeration

In [225]:
stateData = combinedData.groupby(['state']).sum()
# fix agglomeration
stateData.head()

,fips,population,total_deaths,icus,60older,density,lattitude,maskuse,65older,female,...,12/30/2020_deaths,12/31/2020_deaths,1/1/2021_deaths,per_dem_2016,per_gop_2016,total_votes_2016,per_dem_2020,per_gop_2020,total_votes_2020,per_point_diff_2020
state,,,,,,,,,,,,,,,,,,,,,
Alabama,71489.0,4903185.0,53879.0,1533.0,1065625.0,6043.9,2202.847785,31.846,1073.4,3435.8,...,4774,4827,4872,22.637667,43.155962,2078165.0,22.957384,43.373043,2323304,20.415659
Arizona,60208.0,7278717.0,60523.0,1559.0,1502688.0,780.7,503.716457,9.825,266.2,744.1,...,8718,8864,9015,6.289038,7.920820,2062810.0,6.537909,8.230850,3387326,1.692941
Arkansas,380625.0,3017804.0,31322.0,732.0,655552.0,4076.4,2619.302009,34.715,1310.2,3794.4,...,3637,3676,3711,22.991902,49.049188,1108615.0,21.152428,51.639801,1219069,30.487373
California,351364.0,39512223.0,282520.0,7338.0,7292299.0,38468.7,2193.636548,41.449,858.5,2863.3,...,25334,25897,26286,29.216920,25.131353,11954317.0,31.149928,25.484539,17495906,-5.665389
Colorado,515983.0,5758736.0,39116.0,1095.0,1031196.0,9337.6,2492.574873,35.036,1013.7,3078.0,...,4750,4814,4873,23.420078,35.811950,2564185.0,26.703888,35.808159,3256953,9.104271

In [227]:
def wavg(group, avg_name, weight_name):
    """ http://stackoverflow.com/questions/10951341/pandas-dataframe-aggregate-function-using-multiple-columns
    In rare instance, we may not have weights, so just return the mean. Customize this if your business case
    should return otherwise.
    """
    d = group[avg_name]
    w = group[weight_name]
    try:
        return (d * w).sum() / w.sum()
    except ZeroDivisionError:
        return d.mean()

In [226]:
stateData.to_csv("agglomerated/state_dataset.csv")